# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_analyzer_diagnostic.category-Performance.severity = warning

dotnet_analyzer_diagnostic.category-Maintainability.severity = warning

dotnet_analyzer_diagnostic.category-Reliability.severity = warning

dotnet_analyzer_diagnostic.category-Security.severity = warning

dotnet_analyzer_diagnostic.category-Usage.severity = warning

dotnet_analyzer_diagnostic.category-CodeQuality.severity = suggestion


# 'System.Runtime.InteropServices.Marshal.SizeOf<*>(*)' uses runtime marshalling even when 'DisableRuntimeMarshallingAttribute' is applied. Use features like 'sizeof' and pointers directly to ensure accurate results.
# - raise the severity of this, since we are using the DisableRuntimeMarshalling attribute and want to avoid countering this with this kind of marshalling code
# - also read the comments next to the DisableRuntimeMarshalling attribute
dotnet_diagnostic.CA1421.severity = warning

# Don't know what it is, seems to be broken, see: https://github.com/dotnet/roslyn/issues/67949
dotnet_diagnostic.IDE0251.severity = none

# --------------- Style ---------------
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# 'if' statement can be simplified
dotnet_diagnostic.IDE0045.severity = silent
dotnet_diagnostic.IDE0046.severity = silent

# Populate switch
dotnet_diagnostic.IDE0010.severity = silent
dotnet_diagnostic.IDE0072.severity = silent

# Namespace "*" does not match folder structure, expected "*"
dotnet_diagnostic.IDE0130.severity = silent

# Remove unnecessary expression value
dotnet_diagnostic.IDE0058.severity = silent

# Use explicit type instead of 'var'
dotnet_diagnostic.IDE0008.severity = none

# Accessibility modifiers required
dotnet_diagnostic.IDE0040.severity = none

# Add braces to 'if' statement.
dotnet_diagnostic.IDE0011.severity = none

# Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# Parentheses can be removed
dotnet_diagnostic.IDE0047.severity = none

# --------------- C# Formatting ---------------

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

# Whitespace options
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = false

# Prefer method-like constructs to have a block body
csharp_style_expression_bodied_methods = false:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_operators = false:suggestion

# Prefer property-like constructs to have an expression-body
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Blocks are allowed
csharp_prefer_braces = true:suggestion
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

# --------------- .NET Formatting ---------------

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:refactoring
dotnet_style_qualification_for_property = false:refactoring
dotnet_style_qualification_for_method = false:refactoring
dotnet_style_qualification_for_event = false:refactoring

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion

# Whitespace options
dotnet_style_allow_multiple_blank_lines_experimental = false

# Non-private static fields are PascalCase
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.symbols = non_private_static_fields
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.style = non_private_static_field_style

dotnet_naming_symbols.non_private_static_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_static_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_static_fields.required_modifiers = static

dotnet_naming_style.non_private_static_field_style.capitalization = pascal_case

# Non-private readonly fields are PascalCase
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.symbols = non_private_readonly_fields
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.style = non_private_readonly_field_style

dotnet_naming_symbols.non_private_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_readonly_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_readonly_fields.required_modifiers = readonly

dotnet_naming_style.non_private_readonly_field_style.capitalization = pascal_case

# Constants are PascalCase
dotnet_naming_rule.constants_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = constant_style

dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_style.constant_style.capitalization = pascal_case

# Private instance fields are camelCase and start with _
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.applicable_accessibilities = protected, internal, protected_internal, private_protected
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style

dotnet_naming_symbols.instance_fields.applicable_kinds = field
dotnet_naming_symbols.instance_fields.applicable_accessibilities = protected, internal, protected_internal, private_protected

dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _

# Locals and parameters are camelCase
dotnet_naming_rule.locals_should_be_camel_case.severity = suggestion
dotnet_naming_rule.locals_should_be_camel_case.symbols = locals_and_parameters
dotnet_naming_rule.locals_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.locals_and_parameters.applicable_kinds = parameter, local

dotnet_naming_style.camel_case_style.capitalization = camel_case

# Local functions are PascalCase
dotnet_naming_rule.local_functions_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.local_functions_should_be_pascal_case.symbols = local_functions
dotnet_naming_rule.local_functions_should_be_pascal_case.style = local_function_style

dotnet_naming_symbols.local_functions.applicable_kinds = local_function

dotnet_naming_style.local_function_style.capitalization = pascal_case

dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

file_header_template = SPDX-FileCopyrightText: © 2023 YorVeX, https://github.com/YorVeX\nSPDX-License-Identifier: MIT

[libjpeg-turbo/**]
# disable naming rules, as this wrapper is a mapping of the original C API
dotnet_diagnostic.IDE1006.severity = none

# P/Invoke method '*' should not be visible
# this whole plugin is full of unsafe code, not going to write extra wrapper methods for this specific library just to satisfy a rule
dotnet_diagnostic.CA1401.severity = none

# Mark the method '*' with 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
# - the ClangSharpPInvokeGenerator already generates the code in a way that LibraryImport wouldn't give any benefits (e.g. not using arrays and strings)
# - as also explained for csbindgen here: https://neuecc.medium.com/csbindgen-generate-c-native-code-bridge-automatically-or-modern-approaches-to-native-code-78d9f9a616fb
# - also read the comments next to the DisableRuntimeMarshalling attribute
dotnet_diagnostic.SYSLIB1054.severity = none

[QoirLib/**]
# disable naming rules, as this wrapper is a mapping of the original C(++) API
dotnet_diagnostic.IDE1006.severity = none

# P/Invoke method '*' should not be visible
# this whole plugin is full of unsafe code, not going to write extra wrapper methods for this specific library just to satisfy a rule
dotnet_diagnostic.CA1401.severity = none

# Mark the method '*' with 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
# - the ClangSharpPInvokeGenerator already generates the code in a way that LibraryImport wouldn't give any benefits (e.g. not using arrays and strings)
# - as also explained for csbindgen here: https://neuecc.medium.com/csbindgen-generate-c-native-code-bridge-automatically-or-modern-approaches-to-native-code-78d9f9a616fb
# - also read the comments next to the DisableRuntimeMarshalling attribute
dotnet_diagnostic.SYSLIB1054.severity = none

[Density/**]
# disable naming rules, as this wrapper is a mapping of the original C(++) API
dotnet_diagnostic.IDE1006.severity = none

# P/Invoke method '*' should not be visible
# this whole plugin is full of unsafe code, not going to write extra wrapper methods for this specific library just to satisfy a rule
dotnet_diagnostic.CA1401.severity = none

# Mark the method '*' with 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
# - the ClangSharpPInvokeGenerator already generates the code in a way that LibraryImport wouldn't give any benefits (e.g. not using arrays and strings)
# - as also explained for csbindgen here: https://neuecc.medium.com/csbindgen-generate-c-native-code-bridge-automatically-or-modern-approaches-to-native-code-78d9f9a616fb
# - also read the comments next to the DisableRuntimeMarshalling attribute
dotnet_diagnostic.SYSLIB1054.severity = none
